//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>


&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
};

/ {
    behaviors {
        hat_permisive: hat_permisive {
            compatible = "zmk,behavior-hold-tap";
            label = "HAT_PERMISIVE";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
        };

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
        };

    };
};

    keymap {
        compatible = "zmk,keymap";

        // base

        base {
            bindings = <
                  &kp Q       &kp W       &kp E         &kp R        &kp T                         &kp Y        &kp U        &kp I          &kp O       &kp P
                  &mt LGUI A  &mt LALT S  &mt LSHFT D   &mt LCTRL F  &kp G                         &kp H        &mt LCTRL J  &mt RSHFT K    &mt RALT L  &mt RGUI SEMI
&mt LCTRL ESCAPE  &kp Z       &kp X       &kp C         &kp V        &kp B                         &kp N        &kp M        &kp COMMA      &kp DOT     &kp FSLH       &mt RIGHT_SHIFT ENTER
                                          &lt 3 ESCAPE  &lt 1 TAB    &mt LEFT_COMMAND BACKSPACE    &lt 4 SPACE  &lt 2 ENTER  &kp RIGHT_ALT
            >;
        };

        lower {
            bindings = <
        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &kp NUMBER_6   &kp N7     &kp N8     &kp N9    &kp N0
        &kp LEFT_GUI  &kp LALT      &kp LSHFT     &kp LCTRL     &trans    &kp BACKSLASH  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT
&trans  &trans        &trans        &trans        &trans        &trans    &kp GRAVE      &kp SQT    &trans     &trans    &kp SLASH  &trans
                                    &trans        &trans        &mo 5     &trans         &trans     &trans
            >;
        };

        rise {
            bindings = <
        &kp LS(EXCL)  &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &kp LS(CARET)  &kp LS(AMPS)   &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)
        &kp LEFT_GUI  &kp LALT    &kp LSHFT      &kp LCTRL     &trans           &kp LS(PIPE)   &kp LS(UNDER)  &kp LS(PLUS)  &kp LS(LBRC)  &kp LS(RBRC)
&trans  &trans        &trans      &trans         &trans        &trans           &kp LS(TILDE)  &kp LS(DQT)    &trans        &trans        &kp LS(QMARK)  &trans
                                  &trans         &trans        &kp DELETE       &trans         &trans         &trans
            >;
        };

        numbers {
            bindings = <
        &kp F1  &kp F2  &kp F3  &kp F4   &kp F5     &kp STAR  &kp N7  &kp N8  &kp N9  &kp PLUS
        &kp F6  &kp F7  &kp F8  &kp F9   &kp F10    &kp DOT   &kp N4  &kp N5  &kp N6  &kp MINUS
&trans  &trans  &trans  &trans  &kp F11  &kp F12    &kp N0    &kp N1  &kp N2  &kp N3  &kp FSLH   &trans
                        &trans  &trans   &trans     &trans    &trans  &trans
            >;
        };

        nav {
            bindings = <
        &kp CAPS   &trans     &trans     &trans     &trans    &trans    &kp PG_DN  &kp PG_UP  &trans     &kp LS(PRINTSCREEN)
        &kp RGUI   &kp LALT   &kp LSHFT  &kp LCTRL  &trans    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp BSPC
&trans  &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans    &kp HOME  &trans     &trans     &kp END    &kp DEL              &trans
                              &trans     &trans     &trans    &trans    &trans     &trans
            >;
        };

        device {
            bindings = <
       &none       &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none             &none    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
       &kp K_MUTE  &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &kp C_PLAY_PAUSE  &none    &none         &none         &none         &none         &none
&none  &none       &none                 &none                 &none             &none    &none         &none         &none         &none         &none         &bt BT_CLR
                                         &none                 &none             &none    &none         &none         &none
            >;
        };

        mouse {
            bindings = <
        &trans  &trans  &trans    &trans    &trans    &trans          &msc SCRL_DOWN  &msc SCRL_UP  &trans           &trans
        &trans  &trans  &mkp MB2  &mkp MB1  &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans
&trans  &trans  &trans  &trans    &mkp MB3  &trans    &trans          &trans          &trans        &trans           &trans  &trans
                        &trans    &trans    &trans    &trans          &trans          &trans
            >;
        };

        extra3 { status = "reserved"; };

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <1 2>;
            then-layer = <6>;
        };
    };
};
